entryPoints:
  web:
    address: ":80"

providers:
  consulCatalog:
    endpoint:
      address: "127.0.0.1:8500"
    exposedByDefault: false

api:
  dashboard: true
  insecure: true

log:
  level: DEBUG
