<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <p>Redirecting...</p>
    <script>
        const token = localStorage.getItem('access_token');
        const user = JSON.parse(localStorage.getItem('user_info') || '{}');

        if (!token) {
            window.location.href = '/accounts/login/';
        } else {
            if (user.is_admin) {
                window.location.href = '/accounts/admin-panel/';
            } else {
                window.location.href = '/accounts/profile/';
            }
        }
    </script>
</body>

</html>