{% extends 'shared/base.html' %}
{% block title %}Animal Details{% endblock %}

{% block content %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'animals/css/style.css' %}">
{% endblock %}
<div class="detail-content">
    <h1>{{ animal.name }}</h1>
    <h3>{{ animal.type }} • {{ animal.age }} years</h3>

    <img src="{{ animal.photo_url }}" class="detail-photo">

    <p>{{ animal.description }}</p>

    {% if animal.status == "available" %}
<a href="http://127.0.0.1:8003/adoption/create/?animal_id={{ animal.id }}&user_id={{ user_id }}">
   class="btn-primary">
   🤍 Adopt {{ animal.name }}
    </a>


    {% else %}
    <button class="btn-outline" disabled>
        {{ animal.status|title }}
    </button>
    {% endif %}
</div>
